.grid-container {
  max-width: 1200px;
  margin: 0 auto; }
  .grid-container .grid-row {
    margin: 0px 0; }
    .grid-container .grid-row:before, .grid-container .grid-row:after {
      content: "";
      min-height: 1px;
      clear: both;
      display: block; }
    .grid-container .grid-row [class*="grid-col-"] {
      float: left;
      padding: 0 10px;
      min-height: 1px; }
    .grid-container .grid-row .grid-col-1 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-1 {
          width: 8.33333%; } }
    .grid-container .grid-row .grid-col-2 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-2 {
          width: 16.66667%; } }
    .grid-container .grid-row .grid-col-3 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-3 {
          width: 25%; } }
    .grid-container .grid-row .grid-col-4 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-4 {
          width: 33.33333%; } }
    .grid-container .grid-row .grid-col-5 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-5 {
          width: 41.66667%; } }
    .grid-container .grid-row .grid-col-6 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-6 {
          width: 50%; } }
    .grid-container .grid-row .grid-col-7 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-7 {
          width: 58.33333%; } }
    .grid-container .grid-row .grid-col-8 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-8 {
          width: 66.66667%; } }
    .grid-container .grid-row .grid-col-9 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-9 {
          width: 75%; } }
    .grid-container .grid-row .grid-col-10 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-10 {
          width: 83.33333%; } }
    .grid-container .grid-row .grid-col-11 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-11 {
          width: 91.66667%; } }
    .grid-container .grid-row .grid-col-12 {
      width: 100%; }
      @media screen and (min-width: 768px) {
        .grid-container .grid-row .grid-col-12 {
          width: 100%; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* ---- page header ---- */
.page-header .nav-wrap {
  border: 1px solid #352011;
  background-image: url("../images/sitenav-bar-bg.jpg");
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .page-header .nav-wrap {
      justify-content: flex-start;
      align-items: center; } }

.page-header .page-logo {
  display: none; }
  @media screen and (min-width: 768px) {
    .page-header .page-logo {
      display: inline-block; } }

.page-header .page-nav {
  display: inline-block; }
  .page-header .page-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; }
  .page-header .page-nav li {
    display: inline-block; }
    .page-header .page-nav li :hover {
      color: #EBDEC2; }
    .page-header .page-nav li a {
      margin: 20px 10px;
      padding: 10px 10px;
      display: inline-block;
      color: #F8B700;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem; }
      @media screen and (min-width: 420px) {
        .page-header .page-nav li a {
          font-size: 1rem; } }
      @media screen and (min-width: 768px) {
        .page-header .page-nav li a {
          font-size: 1.5rem; } }

/* ---- section-armory ---- */
.section-armory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-armory .container {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section-armory .container .armory-welcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 50px; }
      .section-armory .container .armory-welcome h1 {
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 50px;
        text-align: center; }
        @media screen and (min-width: 768px) {
          .section-armory .container .armory-welcome h1 {
            font-size: 2rem; } }
      .section-armory .container .armory-welcome p {
        color: #EBDEC2;
        font-size: 0.8rem;
        text-align: center; }
        @media screen and (min-width: 768px) {
          .section-armory .container .armory-welcome p {
            font-size: 1rem; } }
    .section-armory .container .armory-search {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px; }
      .section-armory .container .armory-search form {
        display: flex;
        flex-direction: column; }
        .section-armory .container .armory-search form label {
          width: 100%;
          display: block;
          text-align: center; }
        .section-armory .container .armory-search form input {
          display: block; }
        .section-armory .container .armory-search form .form-button {
          width: 200px;
          height: 30px;
          text-align: center;
          line-height: 25px;
          margin-top: 10px;
          border: 1px solid #352011;
          border-radius: 10% 10%;
          background-image: url("../images/sitenav-bar-bg.jpg"); }
          .section-armory .container .armory-search form .form-button span:hover {
            color: #EBDEC2; }
    .section-armory .container .armory-image {
      width: 75vw;
      height: 690px;
      border: 2px solid #21150F;
      background-image: url("../images/character.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-armory .container .armory-image .armory-title {
        font-size: 1rem;
        padding: 20px 0; }
        @media screen and (min-width: 768px) {
          .section-armory .container .armory-image .armory-title {
            font-size: 2rem; } }
      .section-armory .container .armory-image .armory-stats {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%; }
        .section-armory .container .armory-image .armory-stats .armory-stats-left {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .section-armory .container .armory-image .armory-stats .armory-stats-left .armory-stats-box {
            text-align: left; }
        .section-armory .container .armory-image .armory-stats .armory-stats-right {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end; }
        .section-armory .container .armory-image .armory-stats .armory-stats-box {
          width: 100%;
          height: 15%;
          text-align: right;
          line-height: 500%;
          text-transform: uppercase; }
          .section-armory .container .armory-image .armory-stats .armory-stats-box span {
            font-size: 0.8rem; }
            @media screen and (min-width: 420px) {
              .section-armory .container .armory-image .armory-stats .armory-stats-box span {
                font-size: 1rem; } }
            @media screen and (min-width: 768px) {
              .section-armory .container .armory-image .armory-stats .armory-stats-box span {
                font-size: 1.5rem; } }
            .section-armory .container .armory-image .armory-stats .armory-stats-box span :after {
              content: '';
              width: 100px;
              height: 100px;
              background-color: #F8B700;
              border-radius: 100px;
              position: absolute;
              top: 0px;
              left: 0px; }

/* ---- section-races ---- */
.section-races-classes .box {
  -webkit-backface-visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #504137; }
  .section-races-classes .box .image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover; }
  .section-races-classes .box .human {
    background-image: url("../images/races/human.jpg"); }
  .section-races-classes .box .dwarf {
    background-image: url("../images/races/dwarf.jpg"); }
  .section-races-classes .box .nelf {
    background-image: url("../images/races/nightelf.jpg"); }
  .section-races-classes .box .gnome {
    background-image: url("../images/races/gnome.jpg"); }
  .section-races-classes .box .draenei {
    background-image: url("../images/races/draenei.jpg"); }
  .section-races-classes .box .worgen {
    background-image: url("../images/races/worgen.jpg"); }
  .section-races-classes .box .panda {
    background-image: url("../images/races/pandarena.jpg"); }
  .section-races-classes .box .orc {
    background-image: url("../images/races/orc.jpg"); }
  .section-races-classes .box .undead {
    background-image: url("../images/races/undead.jpg"); }
  .section-races-classes .box .tauren {
    background-image: url("../images/races/tauren.jpg"); }
  .section-races-classes .box .troll {
    background-image: url("../images/races/troll.jpg"); }
  .section-races-classes .box .belf {
    background-image: url("../images/races/bloodelf.jpg"); }
  .section-races-classes .box .goblin {
    background-image: url("../images/races/goblin.jpg"); }
  .section-races-classes .box .pandh {
    background-image: url("../images/races/pandarenh.jpg"); }
  .section-races-classes .box .warrior {
    background-image: url("../images/classes/warr.jpg"); }
  .section-races-classes .box .hunter {
    background-image: url("../images/classes/hunt.jpg"); }
  .section-races-classes .box .priest {
    background-image: url("../images/classes/priest.jpg"); }
  .section-races-classes .box .shaman {
    background-image: url("../images/classes/sham.jpg"); }
  .section-races-classes .box .warlock {
    background-image: url("../images/classes/lock.jpg"); }
  .section-races-classes .box .druid {
    background-image: url("../images/classes/druid.jpg"); }
  .section-races-classes .box .paladin {
    background-image: url("../images/classes/pally.jpg"); }
  .section-races-classes .box .rogue {
    background-image: url("../images/classes/rogue.jpg"); }
  .section-races-classes .box .dk {
    background-image: url("../images/classes/dk.jpg"); }
  .section-races-classes .box .mage {
    background-image: url("../images/classes/mage.jpg"); }
  .section-races-classes .box .monk {
    background-image: url("../images/classes/monk.jpg"); }
  .section-races-classes .box .dh {
    background-image: url("../images/classes/demon.jpg"); }
  .section-races-classes .box .content {
    font-size: 1.5rem;
    background-color: #211510;
    padding: 10px;
    height: 150px; }
    .section-races-classes .box .content p {
      display: block;
      color: #EBDEC2;
      font-size: 0.8rem;
      padding: 10px 0px; }

.section-races-classes .box:hover {
  border: 1px solid #F8B700; }
  .section-races-classes .box:hover .content {
    color: #fff; }

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px; }
  .welcome h1 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 50px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .welcome h1 {
        font-size: 2rem; } }
  .welcome p {
    color: #EBDEC2;
    font-size: 0.8rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .welcome p {
        font-size: 1rem; } }

.faction {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%; }
  .faction span {
    display: block;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 6rem;
    padding-right: 20px; }
  .faction .logo img {
    width: 77.5px; }

/* ---- page footer ---- */
.page-footer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end; }
  .page-footer .container {
    border: 1px solid #352011;
    background-image: url("../images/sitenav-bar-bg.jpg");
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .page-footer .container .footer-nav {
      display: inline-block; }
      .page-footer .container .footer-nav ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
        text-align: center; }
      .page-footer .container .footer-nav li {
        display: inline-block; }
        .page-footer .container .footer-nav li :hover {
          color: #F8B700; }
        .page-footer .container .footer-nav li a {
          padding: 0 20px;
          display: inline-block;
          color: #EBDEC2;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px; }
          .page-footer .container .footer-nav li a :hover {
            color: #F8B700; }
    .page-footer .container .footer-terms {
      color: #fff; }
      .page-footer .container .footer-terms p {
        margin-top: 10px;
        font-size: 10px;
        text-align: center; }

body {
  color: #F8B700;
  font-family: 'Lato', Times, sans-serif; }

.wrapper {
  background: #211510;
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.build {
  height: 500px;
  display: flex;
  justify-content: center; }
  .build h1 {
    margin-top: 80px;
    color: #fff; }
